<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--<bean id="alien1" class="org.example.Alien scope="prototype OR singleton(Default)">-->
    <bean id="alien1" class="org.example.Alien" autowire="byType">
<!--        setter injection -->
        <property name="age" value="21"> </property>
<!--        <property name="com" ref="com2"> </property>-->

    </bean>
    <bean id="com1" class="org.example.Laptop" primary="true">
    </bean>
<!--this will make the bean lazy and the bean is created in the container only the object is created or used in ref attribute-->
    <bean id="com2" class="org.example.Desktop" lazy-init="true"> 
    </bean>
</beans>
